html body { height: 100%; width: 100%;}
/* Barra de navegación */
#navbar-pinterest{ 
    display: flex; 
    height: 70px; 
    width: 100%;
    justify-content: space-around; 
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom: .3%;
    background-color: white;
    z-index: 99;}

#pinterest-icon{ 
    display: flex;
    height: 35%;
    width: .9%;
    padding-top: 1.4%;
    padding-left: 1%;
    padding-right: .5%;
    cursor: pointer;}

.navbar_button{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .9%;}
    
.navbar_button button{ 
    border:solid transparent 0px;
    border-radius: 42%;
    height: 47px;
    width: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
    cursor: pointer;} 

.buttonblack{
    background-color: black;
    color: white;}

.button1{background-color: white;}

.button1:hover{
    background-color: rgb(226, 224, 224);
    opacity: 1;
    color: black;
    transition: 0.2s;}

/* Para que el boton se vea que se presiono 
.button1:active {
    box-shadow: 0 4px #666;
    transform: translateY(2px)} */

.finder{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50%;
    width: 80%;
    margin-top: 0.7%;
    border: solid transparent 3px;
    border-radius: 40px;
    background-color: rgb(241, 241, 241);}

.finder input{ 
    border: solid transparent 10px;
    border-radius: 40px;
    width: 100%;
    height: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em ;
    background-color: transparent;}

.input1:hover{
    background-color: rgb(226, 224, 224);
    opacity: 1;
    color: black;
    transition: 0.2s;}

#notifications{
    display: flex;
    height: 30%;
    width: 1.5%;
    padding-top: 1.2%;
    cursor: pointer;}

#message{
    display: flex;
    height: 35%;
    width: 1.5%;
    padding-top: 1.2%;
    cursor: pointer;}

#profile-img {
    display: flex;
    height: 35%;
    width: 1.5%;
    padding-top: 1.2%;
    cursor: pointer;}

#more-arrow{ 
    display: flex;
    height: 35%;
    width: 2%;
    padding-top: 1.2%;
    cursor: pointer;}

/* Cuerpo de la pagina */
#content{ 
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    vertical-align: middle;}

.card-image1{ 
    display: flex;
    height: 384px;
    width: 240px;
    margin-bottom: 16px; 
    margin-left: 8px; 
    margin-right: 8px;
    border-radius: 8%;
    z-index: 1;}

.card-image2{
    background-color: black;
    display: flex;
    height: 240px;
    width: 240px;
    margin-bottom: 16px; 
    margin-left: 8px; 
    margin-right: 8px;
    border-radius: 10%;
    z-index: 1;}

.card-image2 img{
    display: flex; 
    width: 100%; 
    border-radius: 10%;}

.card-image1 img{
    display: flex; 
    width: 100%; 
    border-radius: 8%;}

.card-image2:hover{
    opacity: .7;
    cursor:zoom-in;}

.card-image1:hover{
    opacity: .7;
    cursor:zoom-in;}
 
.imagen-guar button{
    background-color: red;
    align-items: center;
    color: white;
    display: none;
    height: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    top: 5%; right: 120%;
    border-radius: 100px;
    border: transparent solid 0px;
    cursor: pointer;}

.imagen-guar button:hover{
    display: flex;
    background-color: rgb(180, 42, 42);
    opacity: 1;
    cursor: pointer;}

.Descarga { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;}

.Descarga button{
    background-color: white;
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 40px;
    position: relative;
    top: 85%; right: 220%;
    border-radius: 100px;
    border: transparent solid 0px;
    cursor: pointer;}

.Descarga button:hover{
    display: flex;
    background-color: rgb(163, 163, 163);
    opacity: 1;
    cursor: pointer;}

.card-image2:hover .Descarga button{ display: flex; top: 80%}
.card-image1:hover .Descarga button{display: flex;}
.card-image1:hover .imagen-guar button{ display: flex;}
.card-image2:hover .imagen-guar button{ display: flex; height:18%} 

/* Media Queries */

@media only screen and (max-width:1700px){
    #navbar-pinterest{ 
        height: 70px; 
        width: 100%;}
    .finder{
        height: 60%;
        width: 75%;} 
    .navbar_button button{ 
        height: 43px;
        width: 58px;}
    .card-image1 {
        height: 520px;
        width: 320px}
    .card-image2 {
        height:320px;
        width: 320px;}

}

@media only screen and (max-width:1500px){
    .finder{
        height: 60%;
        width: 70%;}
    .navbar_button button{ 
        height: 40px;
        width: 55px;}
    .card-image1 {
        height: 520px;
        width: 320px}
    .card-image2 {
        height:320px;
        width: 320px}
}

@media only screen and (max-width:1375px){
    .card-image1 {
        height: 390px;
        width: 270px}
    .card-image2 {
        height:270px;
        width: 270px}
}


@media only screen and (max-width:1273px){
    #navbar-pinterest{ 
        display: flex; 
        height: 65px; 
        width: 100%;
        justify-content: space-around; 
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        margin-bottom: .3%;
        background-color: white;}
    .finder{
        height: 60%;
        width: 68;}
    .navbar_button button{ 
        height: 40px;
        width: 55px;;}       

}

@media only screen and (max-width:1100px){
    #navbar-pinterest{ 
        height: 60px; 
        width: 100%;}
    .finder{
        height: 60%;
        width: 68%;}
    .navbar_button button{ 
        height: 35px;
        width: 55px;}

}

@media only screen and (max-width:900px){
    #navbar-pinterest{ 
        height: 55px; 
        width: 100%;}
    .finder{
        height: 60%;
        width:80%;}
    #notifications{display: none;}
    #message{display: none}
    #profile-img {display: none }
    #more-arrow{ display: none}
    .navbar_button button{
        height: 35px;
        width: 45px;}
    .card-image1 {
        height: 490px;
        width: 320px}
    .card-image2 {
        height:320px;
        width: 320px} 

}

@media only screen and (max-width:700px){
    #navbar-pinterest{ 
        height: 45px; 
        width: 100%;}
    .finder{
        height: 60%;
        width: 73%;}
    #notifications{display: none;}
    #message{display: none}
    #profile-img {display: none }
    #more-arrow{ display: none}
    .navbar_button button{
        height: 35px;
        width: 45px;}
    .card-image1 {
        height: 380px;
        width: 280px}
    .card-image2 {
        height:280px;
        width: 280px}
}

@media only screen and (max-width: 605px){
    .card-image1 {
        height: 340px;
        width: 230px}
    .card-image2 {
        height:230px;
        width: 230px
}
}

@media only screen and (max-width:525px){
    .navbar_button{display:none}
    #pinterest-icon { width: 5%; height: 60%;}
    .finder{
        height: 60%;
        width: 85%;}
    .card-image1 {
       height: 320px;
        width: 200px}
    .card-image2 {
        height:200px;
        width: 200px}
}

@media only screen and (max-width:440px){
    .card-image1 {
        height: 260px;
        width: 180px}
    .card-image2 {
        height:180px;
        width: 180px}
    .Descarga button{ height: 30px; width: 30px; right: 250%;}
    .imagen-guar button{ height: 15%;}
}
@media only screen and (max-width:400px){
    .card-image1 {
        height: 225px;
        width: 160px}
    .card-image2 {
        height:160px;
        width: 160px}
}

@media only screen and (max-width:360px){
    .card-image1 {
        height: 190px;
        width: 135px}
    .card-image2 {
        height:135px;
        width: 135px}
}